MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.gb0koeu.mongodb.net/eventbook?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-jwt-secret
CLIENT_URL=http://localhost:3000
PORT=5001
